body {
    background-color: #0c4365;
    margin: 0px;
}
.top {
    background-color: #f27d7d;
    text-align: center;
}
section .portrait {
    width: 1300px;
    height: auto;
    margin-top: -55px;
    margin-bottom: -85px;
}
nav {
    background-color: #0c4365;
    padding-top: 30px;
    padding-bottom: 30px;
}
nav a {
    font-family: 'Josefin Sans';
    color: #f27d7d;
    font-weight:600;
    font-size: 25px;
    padding: 100px;
    text-transform: uppercase;
    text-decoration: none;
}
section h1 {
    text-transform: uppercase;
    font-family: 'Playpen Sans';
    font-size: 70px;
    color: #0c4365;
}
.separator{
    margin-top: 0px;
    padding: 3px;
    background-color: #0c4365;
    text-align: center;

    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

}
.separator h2{
    font-family: 'Josefin Sans';
    font-size: 50px;
    color: #f27d7d;
    text-transform: uppercase;
    line-height: 50px;
    padding: 20px;
}
.cat {
    width: 200px;
    height: auto;
    margin-bottom: -95px;
    padding-bottom: 88px;
}
.bottom {
    background-color: white;
    margin: 0px 100px 0px 100px;
    padding: 100px;
}
.blockL {
    padding-bottom: 530px;
    background-color: #ffd48a;
    color: #ffd48a;
    float: left;
    display: inline;
}
.blockR {
    padding-bottom: 530px;
    background-color: #ffd48a;
    color: #ffd48a;
    float: right;
    display: inline;
}
.box {
    border: 20px solid #ffd48a;
    padding: 60px;
    margin: 50px 200px 80px 200px;
    text-align: justify;
    color: #0c4365;
    font-family: 'Josefin Sans';
}
.box h3{
    font-size: 30px;
}
.box p {
    font-weight: 1000;
    font-size: 20px;
}

/*
#ffe6b1 - yellow color
#ffd48a - lighter yellow (i use)
#4F805A - pretty green
#dd3b5e - pink
#8cd9f6 - my usual blue
#0c4365 - dark blue 
#f27d7d - salmon



*/